accelerate==1.3.0
audio_denoiser==0.1.2
audio_separator==0.28.5
augment==0.4
baize==0.22.2
cachetools==5.3.0
celluloid==0.2.0
click==8.1.8
cn2an==0.5.23
deepspeed==0.16.3
diffusers==0.25.0
distributed==2025.1.0
einops==0.8.1
einx==0.3.0
ema_pytorch==0.7.7
emojiswitch==0.0.3
eng_to_ipa==0.0.2
fastapi==0.115.8
ftfy==6.3.1
funasr==1.2.3
gradio==5.15.0
httpx==0.28.1
huggingface_hub==0.23.2
hydra-core==1.3.2
HyperPyYAML==1.2.2
inflect==7.5.0
jieba==0.42.1
jiwer==3.1.0
kui==1.8.1
langdetect==1.0.9
langid==1.1.6
librosa==0.10.2.post1
lightning==2.5.0.post0
lightning_utilities==0.12.0
lingua==4.15.0
loguru==0.7.3
loralib==0.1.2
lxml==5.3.0
matcha_tts==0.0.5.1
matplotlib==3.6.3
mistune==3.0.2
modelscope==1.22.3
moviepy==1.0.3
natsort==8.4.0
numba==0.61.0
numpy==2.2.2
omegaconf==2.3.0
onnxruntime==1.20.1
opencc==1.1.9
ormsgpack==1.7.0
packaging==24.2
pandas==2.2.3
parselmouth==1.1.1
protobuf==3.20.3
psutil==5.9.4
ptflops==0.7.4
pyarrow==19.0.0
pyaudio==0.2.14
pybase16384==0.3.8
pydantic==2.10.6
pydub==0.25.1
pynini==2.1.6
pypinyin==0.53.0
pyrootutils==1.0.4
pyrubberband==0.4.0
pysubs2==1.8.0
pytest==8.3.4
python-dotenv==1.0.1
python_box==7.3.2
python_ms==1.1.1
pytorch_lightning==2.5.0.post0
PyYAML==6.0
PyYAML==6.0.2
ray==2.42.0
regex==2024.11.6
Requests==2.32.3
rich==13.9.4
safetensors==0.5.2
scipy==1.15.1
silero_vad==5.1.2
soundfile==0.13.1
spaces==0.32.0
starlette==0.45.3
tensorrt==10.8.0.43
tiktoken==0.8.0
tokenizers==0.21.0
tomli==2.2.1
torch==2.6.0
torchaudio==2.6.0
torchdiffeq==0.2.5
tqdm==4.67.1
transformer_engine==1.13.0
transformers==4.41.2
typing_extensions==4.12.2
Unidecode==1.3.8
uvicorn==0.34.0
vector_quantize_pytorch==1.21.7
vllm==0.7.2
vocos==0.1.0
wandb==0.19.6
wavmark==0.0.3
whisper_timestamped==1.15.8
x_transformers==2.0.2
zhconv==1.4.3
zhon==2.1.1
